{% extends 'base.html' %}

{% block content %}

<h2>Podatci o profesoru</h2>

<ul>
    <li> JMBAG : {{ profesor.jmbag }} </li>
    <li> Prezime : {{ profesor.prezime }} </li>
    <li> Ime : {{ profesor.ime }} </li>
    <li> Spol : {{ profesor.spol }} </li>
    <li> Datum rođenja : {{ profesor.datumrod }} </li>
    <li> Poštanski broj : {{ profesor.postanskibrojprb.naziv }} ({{ profesor.postanskibrojprb.postanskibroj }}) </li>
    <li> Poštanski broj : {{ profesor.postanskibrojrod.naziv }} ({{ profesor.postanskibrojrod.postanskibroj }}) </li>
    <li> Mail : {{ profesor.sluzbenimail }} </li>
</ul>

{% endblock %}